backend/out/
backend/lib/*.jar
backend/*.log
frontend/*.log
base-de-datos/data/*.db
base-de-datos/data/*.mv.db
base-de-datos/data/*.trace.db
node_modules/
# Logs
*.log

# Node
node_modules/

# Env
.env

# Sistema
.DS_Store
Thumbs.db